/* MAIN CSS */

/************************
GENERAL
*************************/

/************************
FONTS
*************************/

@font-face {
    font-family: "Nate";
    src: url(../Fonts/ReginaFree.ttf);
}


/************************
COLORS
*************************/

header { background-color: #A14700; }
nav    { background-color: #f8f8f8; }
nav, a { background-color: #A17B00;
         color:            #000000; }
h1     { color:            #ffffff; }


/************************
HEADER
*************************/

h1 { 
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 8vh;
    font-size: 10vw;
    font-family: "Nate";
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 2px 2px brown, 4px 4px #edc900;
}

nav {
    text-align: center;
    font-size: 3vw;
    height: 4vw;
    font-family: 'Poiret One', cursive;
    
}

nave, a {
    display: block;
    width: 49%;
    float: right;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-weight: 100;
        
}

a {
    text-decoration: none;
}

.selected-nav {
    background-color: #8A5600;
}


/************************
MAIN
*************************/

.right-content img {
    float: right;
    margin-right: 10vw;
    margin-top: 12vh;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    
}


.left-content {
    float: left;    
    width: 30vw;
    height: 30vw;
    margin-top: 12vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 12vh;
    text-align: center;
}

h2 {
    font-size: 3vw;
    margin-bottom: 2vh
}

p {
    font-size: 2vw;
}

p, h2 {
    font-family: 'Open Sans', sans-serif;
}

/************************
FOOTER
*************************/

footer {
    clear: both;
    display: none;
}