/* MAIN CSS */

/************************
GENERAL
*************************/

/************************
FONTS
*************************/

@font-face {
    font-family: "Nate";
    src: url(../Fonts/ReginaFree.ttf);
}


/************************
COLORS
*************************/

header { background-color: #A14700; }
nav    { background-color: #f8f8f8; }
nav, a { background-color: #b1b1b1; }

/************************
HEADER
*************************/

h1 { 
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 5vh;
    font-size: 10vw;
    font-family: "Nate";
    font-weight: bold;
}

nav {
    text-align: center;
    font-size: 3vw;
    height: 4vw;
    font-family: 'Arvo', serif;
    
}

nave, a {
    display: block;
    width: 50%;
    float: right;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-weight: 100;
        
}

a {
    text-decoration: none;
}


/************************
MAIN
*************************/

.right-content img {
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 12vh;
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
}


.left-content {   
    width: 70vw;
    margin-top: 12vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 12vh;
    text-align: center;
}

h2 {
    font-size: 9vw;
    margin-bottom: 2vh
}

p {
    font-size: 5vw;
}

/************************
FOOTER
*************************/

footer {
    clear: both;
    display: none;
}