/* MAIN CSS */

/************************
GENERAL
*************************/

/************************
FONTS
*************************/

/************************
COLORS
*************************/

header { background-color: #2279c3; }
nav    { background-color: #c1c1c1; }

/************************
HEADER
*************************/

h1 { 
    text-align: center;
    padding-bottom: 2vw;
    padding-top: 2vw;
    font-size: 10vw;
}

nav {
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 4vw;
    height: 5vw;
}

nave, a {
    display: block;
    width: 50%;
    float: right;
}


/************************
MAIN
*************************/

.right-content img {
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 12vh;
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
}


.left-content {   
    width: 70vw;
    margin-top: 12vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 12vh;
    text-align: center;
}

h2 {
    font-size: 9vw;
    margin-bottom: 2vh
}

p {
    font-size: 5vw;
}

/************************
FOOTER
*************************/

footer {
    clear: both;
    display: none;
}